google-api-python-client>=2.118.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-auth>=2.28.0
requests>=2.31.0
requests-toolbelt>=1.0.0
python-dotenv>=1.0.1
pydantic>=2.6.0
pydantic-settings>=2.2.0
pytz>=2024.1
rich>=13.7.1
pillow>=10.2.0
tqdm>=4.66.2
instagrapi>=2.1.2
